---
layout: default
---

<div class="row">
    <div class="span9">
        <h2>{{ page.title }}</h2>
        <h4>
            Posted on {{ post.date | format_date }}
            {% unless no_category %}
              {% if post.category %}
                in <a href="categories/{{ post.category | slugize }}">{{ post.category }}</a>
              {% endif %}
            {% endunless %}
        </h4>
          
        <div class="row">
            <div class="span7">
                {{ content }}
            </div>
        </div>
        
        {% if page.tags %}
            Tagged in
            {% for tag in page.tags %}
                <strong><a href="/tags/{{ tag | slugize }}">{{ tag }}</a></strong>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            <br />
        {% endif %}
        
        
        {% unless page.no_comments %}
            {% include comments.html %}
        {% endunless %}
    </div>
</div>